body {
    margin: 0;
    padding: 0;
    
    font-family: Cuprum, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
    background-color: #f4f7f9;
    
    padding-bottom: 60px;
}

.main-header ul {
    list-style: none;
    padding: 0;
}

.header-top {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    
    background-color: #293449;
}

.header-top a {
    display: block;
    padding: 12px 0;
    width: 150px;
    
    box-sizing: border-box;
    vertical-align: middle;
    color: #ffffff;
}

.header-top a:not(.order):not(.logo-top):hover {
    background-color: #212a3a;
}

.search {
    width: 270px;
}

.search form {
    position: relative;
}

.search svg {
    position: absolute;
    top: 12px;
    left: 17px;
    
    width: 17px;
    height: 17px;
    
    opacity: 0.3;
}

.search-field:hover + svg,
.search-field:focus + svg{
    opacity: 1;
}

.search-field:focus + svg path {
    fill: #ee3643;
}

.search-field {
    width: 270px;
    padding: 12px 49px;
    
    background-color: #293449;
    border: none;
}

.search-field:hover {
    background-color: #212a3a;
}

.search-field:focus {
    background-color: #ffffff;
    outline: none;
}

.search-field::placeholder {
    color: #ffffff;
    opacity: 1;
}

.search-field::-webkit-input-placeholder {
  color: #ffffff;
} 

.search-field:-ms-input-placeholder {
  color: #ffffff;
}

.search-field::-ms-input-placeholder {
  color: #ffffff;
}

.search-field::-moz-placeholder {
  color: #ffffff;
}

.header-top .bookmarks {
    position: relative;
    padding-left: 44px;
}

.bookmarks::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 17px;
    
    width: 14px;
    height: 16px;
    
    background-image:url("../img/icon-bookmark.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    
    opacity: 0.3;
}

.header-top .basket {
    position: relative;
    padding-left: 50px;
}

.basket::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 18px;
    
    width: 15px;
    height: 15px;
    
    background-image:url("../img/cart-icon.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    
    opacity: 0.3;
}

.bookmarks:hover::before,
.basket:hover::before {
    opacity: 1;
}

.bookmarks:active::before,
.basket:active::before {
    opacity: 0.5;
}

.order {
    text-align: center;
}

.header-top .logo-top {
    display: block;
    width: 220px;
    padding-top: 10px;
    padding-bottom: 5px;
    
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    
    text-transform: uppercase;
    background-color: #ee3643;
    
    box-shadow: 0 5px 0 0 #b52933;
    
}

.header-top .logo-top:hover {
    background-color: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}

.header-top .logo-top:active {
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}

.order {
    background-color: #63a63e;
}

.order:hover {
    background-color: #5fbb2d;
}

.bookmarks:active,
.basket:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.order:active {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.6);
}

.number {
    position: relative;
    
    display: block;
    border: 3px solid white;
    padding: 9px 0 9px 70px;
    
    vertical-align: middle;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.number::before {
    content: "";
    
    position: absolute;
    top: 10px;
    left: 12px;
    
    width: 19px;
    height: 19px;
    
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.adress {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    
    text-align: center;
}

.user-navigation,
.site-navigation {
    list-style: none;
    margin: 0;
}

.user-navigation a {
    display: block;
    box-sizing: border-box;
    
    padding: 12px 0;
    
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.user-navigation .login-link {
    position: relative;
    padding-left: 47px;
}

.login-link::before {
    content: "";
    
    position: absolute;
    top: 14px;
    left: 14px;
    
    width: 20px;
    height: 17px;
    
    background-image: url(../img/icon-login.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.3;
}

.login-link:hover::before {
    background-image: url(../img/icon-login2.svg);
    opacity: 1;
}

.login-link:active::before {
    background-image: url(../img/icon-login.svg);
    opacity: 1;
}

.user-navigation .registration {
    padding-left: 24px;
}

.user-navigation a:hover {
    color: #ee3643;
}

.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-nav {
    width: 940px;
    
    font-size: 17px;
    line-height: 17px;
    background-color: #32425c;   
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:active {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: #1d2739;
}

.promo {
    display: flex;
    justify-content: space-between;
    
    padding-top: 60px;
    margin-bottom: 53px;
}

.promo-left-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 620px;
}

.promo-left-column .offers-item {
    margin-bottom: 20px;
}

.promo-right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 300px;
}

.offers-item {
    position: relative;
    
    box-sizing: border-box;
    width: 300px;
    height: 123px;
}

.offers-item b {
    display: block;
    margin-top: 22px;
    margin-left: 22px;
    margin-bottom: 14px;
    
    font-size: 24px;
    line-height: 30px; 
}

.btn-promo {
    display: block;
    width: 135px;
    margin-left: 25px;
    padding: 11px 0;
    
    font-size: 14px;
    line-height: 18px;
    
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
}

.btn-promo:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-promo:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.materials {
    background-color: #ffbf47;
}

.materials::before {
    content: "";
    
    position: absolute;
    top: 31px;
    right: 43px;
    
    width: 44px;
    height: 65px;
    
    background: url(../img/icon-1.svg) 0 0 no-repeat;
}

.tool {
    background-color: #3bbce3;
}

.tool::before {
    content: "";
    
    position: absolute;
    top: 33px;
    right: 28px;
    
    width: 75px;
    height: 61px;
    
    background: url(../img/icon-2.svg) 0 0 no-repeat;
}

.technics {
    background-color: #dc91d8;
}

.technics::before {
    content: "";
    
    position: absolute;
    top: 31px;
    right: 31px;
    
    width: 78px;
    height: 62px;
    
    background: url(../img/icon-3.svg) 0 0 no-repeat;
}

.discounts {
    background-color: #8ed78f;
}

.discounts::before {
    content: "";
    
    position: absolute;
    top: 26px;
    right: 45px;
    
    width: 59px;
    height: 72px;
    
    background: url(../img/icon-4.svg) 0 0 no-repeat;
}

.delivery {
    background-color: #ffc047;
}

.delivery::before {
    content: "";
    
    position: absolute;
    top: 32px;
    right: 31px;
    
    width: 78px;
    height: 63px;
    
    background: url(../img/icon-5.svg) 0 0 no-repeat;
}

.slider {
    position: relative;
    
    width: 620px;
}

.slider-item {
    position: relative;
    
    box-sizing: border-box;
    width: 620px;
    height: 266px;
    
    padding-top: 21px;
    padding-left: 24px;
}

.slider-item::before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 25px;
    
    width: 22px;
    height: 40px;
    
    background: url(../img/icon-left.svg) 0 0 no-repeat;
    transform: translate(0, -50%);
}

.slider-item::after {
    content: "";
    
    position: absolute;
    top: 50%;
    right: 25px;
    
    width: 22px;
    height: 40px;
    
    background: url(../img/icon-right.svg) 0 0 no-repeat;
    transform: translate(0, -50%);
}

.slider-item b {
    margin-bottom: 2px;
    
    font-size: 36px;
    line-height: 36px;
    
    text-transform: uppercase;
}

.slider-item p {
    margin: 0;
    
    font-size: 18px;
    line-height: 24px;
}

.btn-slider {
    position: absolute;
    left: 25px;
    bottom: 22px;
    
    width: 195px;
}

.slider .slider-item:first-child {
    background: url(../img/slider-1.jpg) 0 0 no-repeat;
}

.slider .slider-item:last-child {
    background: url(../img/slider-2.jpg) 0 0 no-repeat;
}

.slider-slides {
    display: flex;
    
    width: 200%;
}

.slider-inner {
    overflow: hidden;
}

.slider-controls {
    position: absolute;
    bottom: 36px;
    left: 50%;
    
    min-width: 30px;
    
    transform: translate(-50%, 0);
    z-index: 1;
}

.slider-controls label { 
    display: inline-block;
    
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-color: #ffffff;
}

.slider-controls label:not(:last-child) {
    margin-right: 10px;
}

#slide-1:checked ~ .slider-controls label[for="slide-1"],
#slide-2:checked ~ .slider-controls label[for="slide-2"] {
    background-color: #ee3643;
} 

#slide-1:checked ~ .slider-inner .slider-slides {
    transform: translate(0);
}

#slide-2:checked ~ .slider-inner .slider-slides {
    transform: translate(-620px);
}

.popular-products {
    margin-bottom: 20px;
}

.popular-header {
    position: relative;
    
    padding: 30px 0 30px 30px;
    margin-bottom: 20px;
    
    background-color: #f9f5f0;
}

.popular-header h2 {
    margin: 0;
    
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
    
    text-transform: uppercase;
}

.btn-popular {
    position: absolute;
    top: 25px;
    right: 24px;
    
    width: 253px;
}

.products {
    display: flex;
    justify-content: space-between;
    
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.popular-brands {
    margin-bottom: 85px;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
}

.brands a {
    position: relative;
    display: block;
    
    box-sizing: border-box;
    width: 220px;
    height: 145px;
    margin-bottom: 20px;
    
    border: 1px solid #ebebeb;
}

.brands a:hover {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands a:active {
    box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
    opacity: 0.3;
}

.brands img {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

.service {
    background-color: #f4f8f9;
    
    padding-top: 63px;
}

.service ul {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
    
    margin: 0;
    padding: 0;
    list-style: none;
}

.annotation {
    width: 400px;
}

.service .flex-wrapper {
    margin-top: 70px;
}

.service .service-slider-controls {
    position: relative;
    
    width: 240px;
    padding-top: 4px;
}

.service-slider-controls::before {
    content: "";
    
    position: absolute;
    top: -40px;
    right: 0;
    
    width: 10px;
    height: 279px;
    
    background: url(../img/shadow.png) 0 0 no-repeat;
}

.service-slider-controls label {
    display: block;
    padding: 15px 22px;
    
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    background-color: #32425c;
}

.service-slider-controls label:hover {
    background-color: #293449;
}

#service-1:checked ~ .service-slider-controls label[for="service-1"],
#service-2:checked ~ .service-slider-controls label[for="service-2"],
#service-3:checked ~ .service-slider-controls label[for="service-3"] {
    color: #32425c;
    background-color: #ffffff;
    border: none;
}

#service-1:checked ~ .service-slider-inner .service-slider-slides {
    transform: translate(0);
}

#service-2:checked ~ .service-slider-inner .service-slider-slides {
    transform: translate(-620px);
}

#service-3:checked ~ .service-slider-inner .service-slider-slides {
    transform: translate(-1240px);
}

.service .service-slider-inner {
    width: 620px;
    
    overflow: hidden;
}

.service .service-item {
    position: relative;
    
    width: 620px;
    height: 288px;
}

.service-slider-slides h3 {
    margin: 0;
    margin-bottom: 29px;
}

.btn-credit {
    width: 195px;
    
    margin-top: 30px;
}

.service-delivery p {
    padding-right: 342px;
}

.service-gurantee p {
    padding-right: 241px;
}

.service-delivery::after {
    content: "";
    
    position: absolute;
    top: 0;
    right: 0;
    
    width: 468px;
    height: 261px;
    
    background: url(../img/delivery.png) 0 0 no-repeat;
}

.service-gurantee::after {
    content: "";
    
    position: absolute;
    top: 0;
    right: 0;
    
    width: 389px;
    height: 283px;
    
    background: url(../img/gurantee.png) 0 0 no-repeat;
}

.service-credit::after {
    content: "";
    
    position: absolute;
    top: 0;
    right: 0;
    
    width: 465px;
    height: 285px;
    
    background: url(../img/credit.png) 0 0 no-repeat;
}

.service-slider-slides {
    display: flex;
    
    width: 300%;
}



.service h2,
.about-us h2, 
.contact h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #000000;
    
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}

.service p,
.about-us p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    
    margin: 0;
}

.service h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    color: #32425c;
    
    text-transform: uppercase;
}

.slider-controls li {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    background-color: #32425c;
}

.company ul {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    
    margin: 0;
    padding: 0;
    list-style: none;
}

.company li {
    position: relative;
    
    padding-left: 35px;
    margin-bottom: 20px;
}

.company li::before {
    content: "";
    
    position: absolute;
    left: 0;
    top: 50%;
    
    width: 25px;
    height: 2px;
    
    background-color: #ee3643;
}

.company p {
    margin-bottom: 30px;
}

.contact p {
    margin-bottom: 35px;
}

.company .indent {
    margin-bottom: 25px;
    padding-right: 140px;
}

.contact .indent {
    padding-right: 110px;
}

.slider-controls ul {
    padding: 0;
    list-style: none;
}

.slider-controls li:hover {
    background-color: #293449;
}

.slider-controls li:active {
    color: #32425c;
    background-color: #ffffff;
}

.btn {
    display: block;
    padding: 12px 0;
    
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    background-color: #ff5357;
    
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #ca2c37;
}

.btn:active {
    background-color: #ba2732;
}

.btn-company {
    width: 220px;
}

.btn-contact {
    width: 300px;
}

.main-footer {
    font-size: 18px;
    line-height: 24px;
    
    background-color: #32425c;
}

.main-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav-top a {
    color: #f3f7f9;
}

.footer-nav-middle a {
    color: #ffd180;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-nav a:active {
    text-decoration: none;
    opacity: 0.5;
}

.footer-bottom {
    font-size: 16px;
    line-height: 18px;
    
    background-color: #293449;
}

.mail,
.htmlacademy {
    color: #ffd180;
}

.mail:hover,
.htmlacademy:hover {
    text-decoration: underline;
}

.mail:active,
.htmlacademy:active {
    text-decoration: none;
    color: #ee3643;
}

.modal {
    position: fixed;
    
    
    background-color: #ffffff;
    color: #000000;
}

.modal-map {
    display: none;
    
    top: 50%;
    left: 50%;
    
    box-sizing: border-box;
    width: 940px;
    height: 446px;
    
    transform: translate(-50%, -50%);
    box-shadow: 0 0 30px 3px rgba(47, 42, 43, 0.5);
}

.modal-map p {
    margin: 0;
}

.modal-feedback {
    display: none;
    
    top: 130px;
    left: 50%;
    
    box-sizing: border-box;
    width: 620px;
    margin-left: -310px;
    
    font-size: 18px;
    line-height: 18px;
    
    border-top: 7px solid #ff5357;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
    background-color: #ffffff;
}

.modal-close {
    position: absolute;
    top: 9px;
    right: 9px;
    
    width: 27px;
    height: 27px;
    border: none;
    background-color: transparent;
    
    font-size: 0;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    
    position: absolute;
    top: 0;
    left: 11px;
    
    width: 5px;
    height: 27px;
    
    background-color: #ee3643;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
}

.flex-wrapper .flex-form {
    width: 220px;
}

.feedback-form-top {
    padding: 0;
    margin: 0;
    padding: 0 80px;
    padding-top: 45px;
    
    border: none;
}

.feedback-form-top input[type="text"] {
    box-sizing: border-box;
    width: 220px;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    
    border: 2px solid #dee3e4;
    border-radius: 2px;
    
    padding: 10px 13px;
    margin-top: 9px;
    margin-bottom: 20px;
}

.textarea {
    padding: 0 80px;
}

.feedback-form textarea {
    box-sizing: border-box;
    width: 460px;
    height: 114px;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    
    border: 2px solid #dee3e4;
    border-radius: 2px;
    resize: none;
    
    padding: 10px 13px;
    margin-top: 9px;
    margin-bottom: 37px;
}

.button-area {
    padding: 1px 0;
    background-color: #f4f4f4;
}

.btn-feedback {
    width: 460px;
    margin: 36px auto;
    
    border: none;
}

.modal-sucses {   
    display: none;
    
    top: 130px;
    left: 50%;
    
    box-sizing: border-box;
    width: 620px;
    
    font-size: 30px;
    line-height: 30px;
    font-weight: inherit;
    
    background-color: #ffffff;
    border-top: 7px solid #ff5357;
    transform: translate(-50%, 0);
    z-index: 30;
    box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-sucses p {
    position: relative;
    
    display: block;
    margin: 63px 80px 68px 80px;
    padding-left: 100px;
}

.modal-sucses p::before {
    content: "";
    
    position: absolute;
    left: 0;
    top: -18px;
    
    width: 66px;
    height: 66px;
    
    background-image: url(../img/sucses.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.sucses-action {
    display: flex;
    justify-content: space-between;
    
    padding: 37px 80px;
    
    background-color: #f1f1f1;
}

.sucses-action .btn {
    box-sizing: border-box;
    width: 220px;
    
    border: none;
}



/*Начинаются стили каталога*/

.basket-good {
    background-color: #ee3643;
}

.user-name {
    position: relative;
    
    display: block;
    padding: 11px 45px;
    
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    
    background-color: #ffffff;
}

.user-name::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 13px;
    
    width: 20px;
    height: 18px;
    
    background-image: url(../img/icon-user.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.user-name:hover::before {
    background-image: url(../img/icon-user2.svg);  
}

.user-name:active::before {
    background-image: url(../img/icon-user.svg);
}

.deauthorization {
    position: absolute;
    top: 14px;
    right: 10px;
    
    width: 20px;
    height: 17px;
}

.deauthorization:hover polygon,
.deauthorization:hover path {
    fill: #32425c;
}

.deauthorization:active polygon,
.deauthorization:active path {
    fill: #c5c5c5;
}

.user-atribute a {
    display: block;
    width: 125px;
    box-sizing: border-box;
    padding: 7px 0;
    
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    
    text-decoration: underline;
}

.user-atribute .indent {
    width: 105px;
    padding-left: 18px;
    margin-right: 10px;
}

.user-atribute a:hover {
    color: #ee3643;
}

.user-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-atribute a:active {
    color: rgba(50, 66, 92, 0.3);
}

.user-atribute li:first-child {
    position: relative;
}

.user-atribute li:first-child::before {
    content: "";
    
    position: absolute;
    right: 9px;
    top: 14px;
    
    width: 4px;
    height: 4px;
    border-radius: 50%;
    
    background-color: #32425c;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.breadcrumbs {
    display: flex;
    width: 380px;
    margin: 0;
    margin-bottom: 23px;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    
    list-style: none;
    padding: 0;
    text-transform: uppercase;
}

.breadcrumbs li {
    position: relative;
    padding-top: 23px;
    margin-right: 40px;
}

.breadcrumbs li:first-child {
    margin-right: 50px;
}

.breadcrumbs li:not(:first-child)::before {
    position: absolute;
    
    content: "";
    top: 26px;
    left: -23px;
    
    
    width: 8px;
    height: 12px;
    
    background-image: url(../img/icon-right-small.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.breadcrumbs a {
    display: block;
    color: inherit;
}

.home {
    position: relative;
}

.home::after {
    content: "";
    
    position: absolute;
    top: 2px;
    right: -13px;
    
    width: 14px;
    height: 12px;
    
    background-image: url(../img/icon-home.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.catalog-main > .container{
    margin-bottom: 60px;
}

.catalog-main h1 {
    margin: 0;
    padding: 28px;
    margin-bottom: 20px;
    
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
    
    background-color: #f2f6f8;
    text-transform: uppercase;
}

.filters ul {
    padding: 0;
    margin: 0;
}

.filter legend {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    
    margin-bottom: 20px;
    
    text-transform: uppercase;
}

.filter label {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    
    text-transform: uppercase;
}

.filter-button {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    
    
    margin-top: 56px;
    padding: 11px 0;
    width: 140px;
    text-transform: uppercase;
    background-color: #ffffff;
    
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.filters h2 {
    display: block;
    padding-top: 10px;
    padding-left: 18px;
    padding-bottom: 10px;
    margin: 0;
    margin-bottom: 17px;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    
    border-radius: 2px;
    background-color: #f7f3ec;
    text-transform: uppercase;
}

.price-slider {
    position: relative;
    height: 80px;
    margin-bottom: 9px;
    
    border-radius: 2px;
    background-color: #f7f3ec;
}

.price-slider-handle {
    position: absolute;
    top: 50%;
    
    width: 20px;
    height: 22px;
    
    background: url(../img/filter-button.svg) 0 0 no-repeat;
    transform: translate(0, -50%);
    z-index: 10;
}

.price-slider-handle-left {
    left: 20px;
}

.price-slider-handle-right {
    right: 40px;
}

.price-slider-range {
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 178px;
    height: 2px;
    
    background-color: #d7dcde;
    transform: translate(-50%, -50%);
}

.price-slider-range::before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 0;
    
    width: 152px;
    height: 2px;
    
    background-color: #00ca74;
    transform: translate(0, -50%);
}

.price-range {
    display: flex;
}

.price-range-input {
    width: 95px;
    
    border-radius: 2px;
    background-color: #f7f3ec;
}

.price-range-input input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    
    
    background-color: #f7f3ec;
    border: none;
    outline: none;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    text-align: center;
}

.price-range-input:first-child {
    margin-right: auto;
}

.price-range-input:last-child {
    margin-left: auto;
}

.price-range-span {
    padding: 10px 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    text-align: center;
}

.catalog ul {
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.catalog-item {
    position: relative;
    
    box-sizing: border-box;
    width: 220px;
    
    border: 1px solid #e5e5e5;
    
    text-align: center;
}

.catalog-item:hover {
    box-shadow: 0 10px 25px 5px rgba(41, 52, 73, 0.5);
}

.flag {
    position: absolute;
    top: 0;
    right: 0;
    
    width: 60px;
    height: 59px;
    overflow: hidden;
    
    text-indent: -1000px;
    z-index: 20;
}

.flag-new {
    background: url(../img/new%20flag.png) 0 0 no-repeat;
}

.catalog-item-image {
    position: relative;
    width: 218px;
    height: 168px;
    margin: 0;
    margin-bottom: 11px;
}

.catalog-item-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.catalog-item h3 {
    padding: 0 25px;
    margin: 0;
    margin-bottom: 11px;
}

.catalog-item-price {
    margin: 0;
}

.catalog-item-price b {
    display: block;
}

.catalog-item-title {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.old-price {
    min-height: 20px;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #999999;
    
    margin-bottom: 8px;
    
    text-decoration: line-through;
}

.new-price { 
    position: relative;
    width: 80px;
    padding: 10px 30px;
    margin: 0 auto;
    margin-bottom: 20px;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    
    border-radius: 3px;
    background-color: #ee3643;
}

.new-price::before {
    content: "";
    
    position: absolute;
    top: 0;
    right: -20px;
    
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left-color: #ee3643;
}

.hover-button {
    position: absolute;
    top: 0;
    left: 0;
    
    display: none;
    
    box-sizing: border-box;
    width: 218px;
    height: 168px;
    padding-top: 43px;
    
    background-color: rgba(255, 255, 255, 0.9);
}

.btn-buy,
.btn-bookmark {
    display: block;
    box-sizing: border-box;
    width: 135px;
    margin: 0 auto;
    
    font-size: 14px;
    line-height: 18px;
    
    border-radius: 3px;
    text-transform: uppercase;
}

.btn-buy {
    position: relative;
    margin-bottom: 8px;
    padding-top: 12px;
    padding-bottom: 9px;
    
    color: #ffffff;
    
    background-color: #63a63e;
    border-bottom: 3px solid #367315;
}

.btn-buy::before {
    content: "";
    
    position: absolute;
    top: 12px;
    left: 12px;
    
    width: 15px;
    height: 15px;
    
    background-image: url(../img/cart-icon.svg);
    opacity: 0.3;
}

.btn-buy:hover {
    background-color: #5fbb2d;
}

.btn-buy:hover::before {
    opacity: 1;
}

.btn-buy:active {
    background-color: #518534;
    border-bottom: 3px solid #518534;
}

.btn-buy:active::before {
    opacity: 1;
}

.btn-bookmark {
    padding: 9px;
    color: #32425c;
    
    background-color: #ffffff;
    border: 3px solid #63a63e;
}

.btn-bookmark:hover {
    border: 3px solid #32425c;
}

.btn-bookmark:active {
    opacity: 0.3;
}

.catalog-item:hover .hover-button {
    display: block;
}


/*Макросетка*/

.wrapper {
    width: 100%;
}

.container {
    width: 940px;
    margin: 0 auto;
    
    
}

.header-top .container {
    display: flex;
    flex-wrap: wrap;
}

.header-top {
    margin-bottom: 45px;
}

.header-middle {
    display: flex;
    margin-bottom: 43px;
}

.header-middle p,
.user-navigation {
    margin: 0;
}

.header-middle p {
    box-sizing: border-box;
    width: 300px;
    margin-right: 20px;
    padding-left: 52px;
    padding-right: 56px;
    padding-top: 5px;
    
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;
}

.information {
    display: flex;
    flex-direction: column;
    width: 270px;
}

.user-navigation {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin-left: auto;
}

.user-navigation li:first-child {
    width: 120px;
}

.user-navigation li:last-child {
    width: 150px;
}

.site-navigation {
    display: flex;
}

.main-nav a {
    display: block;
    width: 134px;
    padding-top: 19px;
    padding-bottom: 17px;
    color: #ffffff;
    
    border-bottom: 5px solid #293449;
    text-align: center; 
}

.main-nav a:nth-child(5) {
    width: 136px;
}

.about-us {
    display: flex;
    justify-content: space-between;
    
    padding-top: 77px;
    padding-bottom: 86px;
}

.map {
    display: block;
    width: 300px;
    height: 158px;
    
    margin-bottom: 40px;
}

.company {
    width: 540px;
}

.contact {
    width: 300px;
}

.main-footer .container {
    display: flex;
    flex-direction: column;
}

.footer-top,
.footer-middle,
.footer-bottom .container {
    display: flex;
    flex-direction: row;
}

.footer-nav {
    display: flex;
}

.logo-bottom {
    width: 220px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 14px;
    
    text-transform: uppercase;
    background-color: #ee3643;
    font-size: 30px;
    line-height: 30px;
    
    box-shadow: 0 5px 0 0 #b52933;
}

.footer-nav-top {
    width: 550px;
}

.footer-top,
.footer-middle {
    justify-content: space-between;
}

.footer-nav-top a {
    display: block;
    width: 110px;
    
    padding-top: 40px;
    text-align: center;
}

.footer-top {
    margin-bottom: 35px;
}

.footer-middle p {
    width: 380px;
    margin: 0;
    padding-right: 70px;
}

.footer-nav-middle {
    width: 540px;
}

.footer-nav-middle a {
    display: block;
    width: 135px;
}

.footer-middle {
    margin-bottom: 52px;
}

.footer-bottom .container {
    padding-top: 35px;
    padding-bottom: 30px;
}

.footer-safe {
    width: 240px;
    
    margin: 0;
    margin-right: 150px;
}

.footer-social {
    display: flex;
    width: 150px;
    
    margin: 0;
    padding: 0;
}

.footer-social li:not(:last-child) {
    margin-right: 5px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    
    border-radius: 50%;
    background-color: #212a3a;
}

.social-button:hover,
.social-button:active {
    background-color: #ee3643;
}

.footer-feedback,
.footer-copyright {
    width: 140px;
    margin: 0;
}

.footer-feedback {
    margin-left: 100px;
    margin-right: 20px;
}

/*Стили каталога*/

.user {
    position: relative;
    width: 300px;
    
    display: flex;
    flex-direction: column;
    
    margin-left: auto;
}

.user-atribute {
    display: flex;
    
    margin: 0;
}

.filters fieldset {
    padding: 0;
    margin: 0;
    
    border: none;
}

.filters {
    width: 220px;
}

.filter {
    display: flex;
    flex-direction: column;
}

.filter-checkbox,
.filter-radio {
    position: relative;
    padding-left: 35px;
}

.checkbox-indicator::before {
    position: absolute;
    top: -3px;
    left: 0;
    
    content: "";
    
    width: 23px;
    height: 23px;
    
    background: url(../img/checkbox-off.svg) 0 0 no-repeat;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    background-image: none;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    position: absolute;
    top: -3px;
    left: 0;
    
    content: "";
    
    width: 26px;
    height: 23px;
    
    background-image: url(../img/checkbox-on.svg);
}

.filter-checkbox:hover .checkbox-indicator::before {
    background-image: url(../img/checkbox-off-hover.svg);
}

.filter-checkbox:hover input[type="checkbox"]:checked + .checkbox-indicator::after {
    background-image: url(../img/checkbox-on-hover.svg);
}

.filter-checkbox input[type="checkbox"]:disabled .checkbox-indicator::before {
    background-image: url(../img/checkbox-off.svg);
    opacity: 0.3;
}

.filter-checkbox input[type="checkbox"]:checked:disabled + .checkbox-indicator::after {
    background-image: url(../img/checkbox-on.svg);
    opacity: 0.3;
}

.filter fieldset:first-of-type {
    padding-bottom: 25px;
    margin-bottom: 23px;
    
    border-bottom: 1px solid #e5e5e5;
}

.filter fieldset:nth-of-type(2) {
    padding-bottom: 23px;
    margin-bottom: 23px;
    
    border-bottom: 1px solid #e5e5e5;
}

.filter fieldset:nth-of-type(3) {
    margin-bottom: 23px;
}

.filter-radio::before {
    position: absolute;
    top: -3px;
    left: 0;
    
    content: "";
    
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: 4px solid #c5c5c5;
    border-radius: 50%;
}

.filter-option input[type="radio"]:checked + .filter-radio::after {
    position: absolute;
    top: 2px;
    left: 5px;
    
    content: "";
    
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 50%;
    
    background-color: #c5c5c5;
}

.filter-radio:hover::before {
    border-color: #b5b5b5;
}

.filter-option input[type="radio"]:checked + .filter-radio:hover::after {
    background-color: #b5b5b5;
}

.filter-option input[type="radio"]:disabled + .filter-radio::before {
    border-color: #b5b5b5;
    opacity: 0.3;
}

.filter-option input[type="radio"]:checked:disabled + .filter-radio::after {
    background-color: #b5b5b5;
    opacity: 0.3;
}

.filter-list li:not(:last-child) {
    margin-bottom: 23px;
}

.flex-catalog {
    display: flex;
    justify-content: space-between;
}

.catalog {
    width: 700px;
}

.sorting {
    display: flex;
    justify-content: space-between;
    
    padding-top: 10px;
    padding-left: 18px;
    margin-bottom: 20px;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    
    border-radius: 2px;
    background-color: #f7f3ec;
    text-transform: uppercase;
}

.sorting h2 {
    box-sizing: border-box;
    width: 220px;
    
    font-size: 13px;
    font-weight: normal;
    
    margin: 0;
    margin-bottom: 10px;
}

.sorting ul {
    display: flex;
    
    box-sizing: border-box;
    width: 460px;
}

.sorting a {
    border-bottom: 1px dashed #ee3643;
    color: #c5c5c5;
}

.sorting li:first-child {
    width: 100px;
    margin-right: 23px;
}

.sorting li:nth-child(2) {
    width: 97px;
    margin-right: 20px;
}

.sorting li:nth-child(3) {
    width: 140px;
    margin-right: 20px;
}

.sorting li:nth-child(4) {
    width: 12px;
    margin-right: 20px;
}

.sorting a:hover:not(.sorting-up):not(.sorting-down) {
    border-bottom: 1px solid #ee3643;
    color: #000000;
}

.sorting .sorting-up,
.sorting .sorting-down {
    width: 11px;
    height: 10px;
    
    border-bottom: none;
}

.sorting-up:hover polygon, 
.sorting-down:hover polyline {
    fill: #000000;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.catalog-list li {
    margin-right: 20px;
    margin-bottom: 20px;
} 

.catalog-list li:nth-child(3n) {
    margin-right: 0;
}

.paginator {
    display: flex;
    
    margin: 0;
    list-style: none;
}

.paginator a {
    display: block;
    box-sizing: border-box;
    width: 38px;
    padding: 10px;
    margin-top: 32px;
    margin-right: 10px;
    
    text-align: center;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.paginator .next {
    width: 140px;
}

.paginator a:hover {
    border: 1px solid #bdc6ca;
}

.paginator a:active {
    border: 1px solid #ee3643;
}

.paginator .current-paginator {
    color: #ffffff;
    background-color: #ee3643;
    border: 1px solid #ee3643;
}

.about-perforator {
    padding-top: 63px;
    padding-bottom: 73px;
    background-color: #f2f6f8;
}

.about-perforator h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #000000;
    
    margin: 0;
    margin-bottom: 30px;
    
    text-transform: uppercase;
}

.about-perforator p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    
    margin: 0;
}